{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/usuarios.css') }}" />
{% endblock %}

{% block body -%}
	<a href="{{ path('usuarios') }}" role="button" class="btn btn-default btn-large">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	Regresar al listado de usuarios</a>

<div class="row">
<div class="col-sm-6 col-sm-offset-3">
        {{ form_errors(edit_form) }}
        <h2>Editar un usuario</h2>
	{{ form_start(edit_form, {attr:{role:'form'} }) }}
        
        {{ form_errors(edit_form) }}
	<div class="form-group">
		{#{{ form_errors(edit_form.nombre) }}#}
		{{ form_label(edit_form.nombre, 'Nombre y Apellido: ')}}
		{{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {% if form_errors(edit_form.nombre) %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">{{ form_errors(edit_form.nombre) }}</div>
        {% endif %}
	<div class="form-group">
		{#{{ form_errors(edit_form.username) }}#}
		{{ form_label(edit_form.username, 'Nombre de Usuario: ')}}
		{{ form_widget(edit_form.username, { 'attr': {'class': 'form-control'} }) }}
	</div>
        {% if form_errors(edit_form.username) %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">{{ form_errors(edit_form.username) }}</div>
        {% endif %}
        <div class="form-group">
		{#{{ form_errors(edit_form.role) }}#}
		{{ form_label(edit_form.role, 'Rol de usuario: ')}}
		{{ form_widget(edit_form.role, { 'attr': {'class': 'form-control'} }) }}
	</div>
        {% if form_errors(edit_form.role) %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">{{ form_errors(edit_form.role) }}</div>
        {% endif %}
        <div class="form-group">
		{{ form_errors(edit_form.file) }}
		{{ form_label(edit_form.file, 'Foto del usuario (opcional): ')}}
		{{ form_widget(edit_form.file, { 'attr': {'class': ''} }) }}
	</div>
	{% if error %}
		<div class="alert alert-danger alert-dismissible fade in" role="alert">{{ error }}</div>
	{% endif %}
	<div class="space"></div>
        {{ form_widget(edit_form._token) }}
	{{ form_widget(edit_form.submit) }}

        </form>
</div>
</div>

{% endblock %}