{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/usuarios.css') }}" />
{% endblock %}

{% block body -%}
	<a href="{{ path('usuarios') }}" role="button" class="btn btn-default btn-large">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	Regresar al listado de usuarios</a>

    <h2>Editar un usuario</h2>

	<label for="exampleInputNombre">Nombre</label>
	{{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}

	<label for="exampleInputNombre">Baja</label>
	{{ form_widget(edit_form.baja) }}

	<div class="space"></div>
	
    {{ form(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}
