{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/usuarios.css') }}" />
{% endblock %}

{% block body -%}


<a href="{{ path('usuarios') }}" role="button" class="btn btn-default btn-large">
<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
Regresar al listado de usuarios</a>

    <h2>Nuevo Usuario</h2>
	
	<label for="exampleInputNombre">Nombre de usuario</label>
	{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}

	<label for="exampleInputBaja">Baja </label>
	{{ form_widget(form.baja) }}

	<div class="space"></div>
	
    {{ form(form) }}

{% endblock %}
