{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/usuarios.css') }}" />
{% endblock %}

{% block body -%}
<a href="{{ path('usuarios') }}" role="button" class="btn btn-default btn-large">
<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
Regresar al listado de usuarios</a>
<h2>Nuevo Usuario</h2>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
	{{ form_start(form, {attr:{role:'form'}}) }}
	<div class="form-group">
		{{ form_errors(form.nombre) }}
		{{ form_label(form.nombre, 'Nombre y Apellido: ')}}
		{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.email) }}
		{{ form_label(form.email, 'Correo electronico: ')}}
		{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.username) }}
		{{ form_label(form.username, 'Nombre de Usuario: ')}}
		{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.plainPassword.first) }}
		{{ form_label(form.plainPassword.first, 'Clave: ')}}
		{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.plainPassword.second) }}
		{{ form_label(form.plainPassword.second, 'Confirmacion Clave: ')}}
		{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
	</div>
        <div class="form-group">
		{{ form_errors(form.role) }}
		{{ form_label(form.role, 'Rol de usuario: ')}}
		{{ form_widget(form.role, { 'attr': {'class': 'form-control'} }) }}
	</div>
		<div class="form-group">
		{{ form_errors(form.file) }}
		{{ form_label(form.file, 'Foto del usuario (opcional): ')}}
		{{ form_widget(form.file, { 'attr': {'class': ''} }) }}
	</div>	
	{% if error %}
		<div class="alert alert-danger alert-dismissible fade in" role="alert">{{ error }}</div>
	{% endif %}
	<div class="form-group">
		{{ form_widget(form.baja, { 'attr': {'class': 'oculto'} }) }}
	</div>

	{{ form_rest(form) }}

	<div class="space"></div>
	{{form_widget(form.submit)}}

	{{ form_end(form) }}
   
</div>
</div>
{% endblock %}
