{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/usuarios.css') }}" />
{% endblock %}

{% block body -%}
<a href="{{ path('usuarios') }}" role="button" class="btn btn-default btn-large">
<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
Regresar al listado de usuarios</a>

    <h2>Ver un usuario</h2>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Baja</th>
                <td>
                {% if entity.baja %}
                <span class="glyphicon glyphicon-trash"></span>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

        
    <a href="{{ path('usuarios_edit', { 'id': entity.id }) }}" role="button" class="btn btn-primary btn-large">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    Editar usuario</a>     


    {{ form(delete_form) }}    

{% endblock %}
