{% extends "::base.html.twig" %}

{% block navegacion %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand nombreSistema">Registro de Eventos - Intendencia</a>
    <ul class="nav navbar-nav">
    {% block menu %}
    {% if usuario is not null %}
        {% if usuario.hasRole('ROLE_ADMINISTRADOR') %}
        <li><a href="{{ path('usuarios')  }}">Usuarios</a></li>
        <li><a href="{{ path('tipos_eventos') }}">Tipos de Eventos</a></li>
        {% elseif usuario.hasRole('ROLE_SUPERVISOR') %}
        <li><a href="{{ path('eventos')  }}">Registro</a></li>
        <li><a href="{{ path('agenda') }}">Agenda</a></li>
        {% elseif usuario.hasRole('ROLE_INTENDENTE') %}
        <li><a href="{{ path('eventos_supervision') }}">Registro</a></li> 
        {% endif %}
        <li><a href="{{ path('fos_user_security_logout') }}">Salir</a></li> 
    {% endif %}
    {% endblock menu %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if usuario is not null %}
          <li><p class="navbar-text">{{ usuario.username }}</p></li>
      {% else %}
          <li><a href="{{ path('fos_user_security_login') }}">Ingresar</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}