{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/tipoEvento.css') }}" />
{% endblock %}

{% block body -%}
	<a href="{{ path('tipos_eventos') }}" role="button" class="btn btn-default btn-large">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	Regresar al listado de tipos de eventos</a>
        
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <h2>Editar un tipo de evento</h2>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        <div class="form-group">
            {{ form_label(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
            {#{{ form_errors(edit_form.nombre) }}#}
        </div>
        {% if form_errors(edit_form.nombre) %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">{{ form_errors(edit_form.nombre) }}</div>
        {% endif %}
        
        <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}
            {#{{ form_errors(edit_form.email) }}#}
        </div>
        {% if form_errors(edit_form.email) %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">{{ form_errors(edit_form.role) }}</div>
        {% endif %}

        <div class="form-group">
            <label for="exampleInputPrioridad">Prioridad</label>
            {{ form_widget(edit_form.prioridad, { 'attr': {'class': 'form-control', 'min': '1', 'max': '99' } }) }}
            {#{{ form_errors(edit_form.prioridad) }}#}
        </div>
        {% if form_errors(edit_form.prioridad) %}
            {#<div class="alert alert-danger alert-dismissible fade in" role="alert">{{ form_errors(edit_form.prioridad) }}</div>#}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">Ingrese una prioridad valida</div>
        {% endif %}
        {{ form_row(edit_form._token) }}
        {{ form_widget(edit_form.submit) }}
    </form>
</div>
</div>
    
{% endblock %}
