{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/tipoEvento.css') }}" />
{% endblock %}

{% block body -%}


    <h2>Tipos de Eventos</h2>

<a href="{{ path('tipos_eventos_new') }}" role="button" class="btn btn-success btn-large">
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
Crear un tipo de evento nuevo</a>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Prioridad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipos_eventos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.prioridad }}</td>
                <td>

                <a href="{{ path('tipos_eventos_show', { 'id': entity.id }) }}" role="button" class="btn btn-default btn-large">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Ver</a>

                <a href="{{ path('tipos_eventos_edit', { 'id': entity.id }) }}" role="button" class="btn btn-primary btn-large">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Editar</a>                

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
