{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/tipoEvento.css') }}" />
{% endblock %}

{% block body -%}
	<a href="{{ path('tipos_eventos') }}" role="button" class="btn btn-default btn-large">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	Regresar al listado de usuarios</a>

    <h2>Crear un Tipo de Evento</h2>

	<label for="exampleInputNombre">Nombre</label>
	{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}

	<label for="exampleInputEmail">Email</label>
	{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}

	<label for="exampleInputPrioridad">Prioridad</label>
	{{ form_widget(form.prioridad, { 'attr': {'class': 'form-control'} }) }}

	<div class="space"></div>

    {{ form(form) }}

{% endblock %}
