{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/tipoEvento.css') }}" />
{% endblock %}

{% block body -%}
	<a href="{{ path('tipos_eventos') }}" role="button" class="btn btn-default btn-large">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	Regresar al listado de usuarios</a>

<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <h2>Crear un Tipo de Evento</h2>
    {{ form_start(form, {attr:{role:'form'}}) }}
    <div class="form-group">
            {{ form_errors(form.nombre) }}
            {{ form_label(form.nombre, 'Nombre: ')}}
            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
            {{ form_errors(form.email) }}
            {{ form_label(form.email, 'Email: ')}}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
            {{ form_errors(form.prioridad) }}
            {{ form_label(form.prioridad, 'Prioridad: ')}}
            {{ form_widget(form.prioridad, { 'attr': {'class': 'form-control', 'min': '1', 'max': '99' } }) }}
    </div>
    <div class="form-group">
            {{ form_widget(form.baja, { 'attr': {'class': 'oculto'} }) }}
    </div>

    {{ form_rest(form) }}

    <div class="space"></div>
    {{form_widget(form.submit)}}

    {{ form_end(form) }}

</div>
</div>

{% endblock %}
