{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block body -%}
    <h1>Contacto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefonofijo</th>
                <th>Telefonomovil</th>
                <th>Cargoempresa</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.telefonoFijo }}</td>
                <td>{{ entity.telefonoMovil }}</td>
                <td>{{ entity.cargoEmpresa }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('agenda_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('agenda_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('agenda_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
