{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/registroeventoscore/css/contacto.css') }}" />
{% endblock %}

{% block body -%}
<a href="{{ path('agenda') }}" role="button" class="btn btn-default btn-large">
<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
Regresar al listado de contactos</a>
<h2>Nuevo Contacto</h2>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
	{{ form_start(form, {attr:{role:'form'}}) }}
	<div class="form-group">
		{{ form_errors(form.nombre) }}
		{{ form_label(form.nombre, 'Nombre: ')}}
		{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.apellido) }}
		{{ form_label(form.apellido, 'Apellido: ')}}
		{{ form_widget(form.apellido, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.telefonoFijo) }}
		{{ form_label(form.telefonoFijo, 'Telefono Fijo: ')}}
		{{ form_widget(form.telefonoFijo, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.telefonoMovil) }}
		{{ form_label(form.telefonoMovil, 'Telefono Movil: ')}}
		{{ form_widget(form.telefonoMovil, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.cargoEmpresa) }}
		{{ form_label(form.cargoEmpresa, 'Cargo Empresa: ')}}
		{{ form_widget(form.cargoEmpresa, { 'attr': {'class': 'form-control'} }) }}
	</div>
	<div class="form-group">
		{{ form_errors(form.observaciones) }}
		{{ form_label(form.observaciones, 'Observaciones: ')}}
		{{ form_widget(form.observaciones, { 'attr': {'class': 'form-control'} }) }}
	</div>

	{{ form_rest(form) }}

	<div class="space"></div>
	{{form_widget(form.submit)}}

	{{ form_end(form) }}
   
</div>
</div>
{% endblock %}
