<div class="row">
    <div class="col-sm-6">
        <form role="form">
        <div class="form-group">
            {{ form_label(form.fechaDetalle, 'Fecha del Detalle: ') }}<br>
            <span>{{ form_errors(form.fechaDetalle) }}</span>
            <span>Fecha: {{ form_widget(form.fechaDetalle.date) }}</span>
            <span>Hora: {{ form_widget(form.fechaDetalle.time) }}</span>{#
            <span>{{ form_widget(form.fechaDetalle.date.month) }}</span>
            <span>{{ form_widget(form.fechaDetalle.date.day) }}</span>
            <span>{{ form_widget(form.fechaDetalle.time.hour) }}</span>
            <span>{{ form_widget(form.fechaDetalle.time.minute) }}</span>#}

        </div>
        <div class="form-group">
            {{form_errors(form.observaciones)}}
            {{form_label(form.observaciones)}}
            {{form_widget(form.observaciones,{attr:{class:'form-control'}})}}
        </div>
        </form>
    </div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <th>Fecha detalle</th>
                <th>Observaciones</th>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <td>{{ detalles.fechaDetalle }}</td>
                <td>{{ detalle.observaciones }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 