<h3><b>Informe registro de evento <font color="#AA0000"><i>{{ tipo }}</font></i></b></h3>
<br>
<p><u>Usuario:</u> <i>{{ usuario }}</i></p>
<p><u>Observaciones:</u> <i>{{ observaciones }}</i></p>
<p><u>Fecha del evento:</u> <i>{{ fechaEvento }}</i></p>
<p><u>Fecha de Registro:</u> <i>{{ fechaRegistro }}</i></p>
<br>
<hr>
<p><font color="#808080" size="2em"><i>Este mensaje fue enviado automaticamente. La casilla a la cual se remite es utilizada unicamente para el envio de alertas, no responda este mail.</i></font></p>
