<h3>Informe registro de evento {{ tipo }}</h3>
<p>Usuario: {{ usuario }}</p>
<p>Observaciones: {{ observaciones }}</p>
<p>Fecha del evento: {{ fechaEvento }}</p>
<p>Fecha de Registro: {{ fechaRegistro }}</p>
