{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechasistema</th>
                <th>Fechaevento</th>
                <th>Observacones</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('eventos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaSistema %}{{ entity.fechaSistema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaEvento %}{{ entity.fechaEvento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.observacones }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('eventos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('eventos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('eventos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
