{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="./../assets/js/rectificar.js"></script>
{% endblock %}

{% block body -%}
    <h1>Registro de eventos</h1>
    <form action="{{ path('eventos_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.fechaEvento) }}
        {{ form_row(form.observaciones) }}
        {{ form_row(form.estado) }}
        {{ form_row(form.tipoEvento) }}
        {{ form_row(form._token) }}

        <input type="submit" />
    </form>
    <table class="records_list">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Fecha del Evento</th>
                <th>Observaciones</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <div id="popUp" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title">Rectificar Evento</h4>
                  </div>
                  <div id="contenidoPopUp" class="modal-body">
                  </div>            
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="guardarPopUp" type="button" class="btn btn-primary">Registrar</button>
                  </div>
                </div>
              </div>
            </div>

        {% for evento in eventos %}

            <tr>
                <td>{{ evento.usuario.nombre }}</td>
                <td>{{ evento.fechaEvento|date('Y-m-d H:i:s') }}</td>
                <td>{{ evento.observaciones }}</td>
                <td>{{ evento.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('eventos_show', { 'id': evento.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('eventos_edit', { 'id': evento.id }) }}">Editar</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary rectificar" data-toggle="modal" data-target="#evento_rectificar" data-id="{{ evento.id }}">Large modal</button>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('eventos_new') }}">
                Crear un nuevo evento
            </a>
        </li>
    </ul>
    {% endblock %}
