{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Registro de eventos</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Fecha del Evento</th>
                <th>Observacones</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.usuario.nombre }}</td>
                <td>{{ evento.fechaEvento|date('Y-m-d H:i:s') }}</td>
                <td>{{ evento.observacones }}</td>
                <td>{{ evento.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('eventos_show', { 'id': evento.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('eventos_edit', { 'id': evento.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('eventos_new') }}">
                Crear un nuevo evento
            </a>
        </li>
    </ul>
    {% endblock %}
