<form id="formularioAltaEvento" action="{{ path('eventos_create') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_errors(formulario) }}

    {{ form_row(formulario.fechaEvento) }}
    {{ form_row(formulario.observaciones) }}
    {{ form_row(formulario.estado) }}
    {{ form_row(formulario.tipoEvento) }}
    {{ form_row(formulario._token) }}
</form>