{% if error %}
	Error al intentar crear el formulario de nuevo evento
{% else %}
	<form id="formularioAltaEvento" action="{{ path('eventos_create') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_errors(form) }}

	    {{ form_row(form.fechaEvento) }}
	    {{ form_row(form.observaciones) }}
	    {{ form_row(form.estado) }}
	    {{ form_row(form.tipoEvento) }}
	    {{ form_row(form._token) }}
	</form>
{% endif %}
