{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block body -%}
    <h1>Evento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechasistema</th>
                <td>{{ entity.fechaSistema|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaevento</th>
                <td>{{ entity.fechaEvento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observacones</th>
                <td>{{ entity.observacones }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eventos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('eventos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
